---
layout: default
---

<!DOCTYPE html>
<html lang="tr">
  <head>
    {% include head.html %}

    <style>
      /* SAYFA ORTALAMA AYARI */
      .page__inner-wrap {
        max-width: 1200px;
        padding-left: 0.75rem;
        padding-right: 0.75rem;
      }
    </style>
  </head>

  <body class="layout--single">

    {% include_cached skip-links.html %}

    {% include_cached masthead.html %}

    <div class="initial-content">
      {{ content }}
    </div>

    {% include_cached footer.html %}

  </body>
</html>
